{% extends 'base.html.twig' %}

{% block content %}
    <div class="houses_content">
	{% if houses is defined %}
	    <h1 class="houses_title">Выбрать резиденцию</h1>
	    <div class="house_list_wrap">
		<ul>
		    {% for h in houses %}
			{% if h.quantity > 0 %}
			    <li>
				<a class="house{{ h.sorting }}" href="javascript:void(0);" data-id="{{ h.id }}" data-quantity="{{ h.quantity }}"></a>
				<div class="one_house_title">
				    <span class="upper">{{ h.title }}</span>
				    <br />
				    (Количество - {{ h.quantity }})
				    <br />
				    <br />
				    <button class="btn btn-success" data-id="{{ h.id }}" data-quantity="{{ h.quantity }}">Купить за {{ h.price }} $</button>
				</div>
			    </li>
			{% endif %}
		    {% endfor %}
		</ul>
		<button class="btn btn-link hide" data-target=".houses-modal" data-toggle="modal" type="button"></button>
	    </div>
	{% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript">
	$(document).ready(function () {
	    $('.panel-body').css({padding: 0});
	});
    </script>
{% endblock %}