{% extends 'base.html.twig' %}

{% block content %}
	<h3>Просмотр владений:</h3>
	<table class="table table-bordered vcenter-table">
		<thead>
			<th>№</th>
			<th>Владение</th>
			<th>Действия</th>
		</thead>
		<tbody>
			{% for house in houses %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>{{ house.type.title }}</td>
					<td>
						<a href="{{ path('houseView', { "id": house.id }) }}" class="btn btn-success">Перейти во владение</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}