<div class="modal fade houses-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
	<div class="modal-content">
	    <div class="alert alert-error">
		<button data-dismiss="alert" class="close">×</button>
	    </div>
	    {% if quantity is defined and id is defined %}
		<div class="row-fluid">
		    <label for="house_quantity">Укажите количество</label>
		    <select class="form-control" name="quantity" id="house_quantity">
			{% for n in 1..quantity %}
			    <option value="{{ n }}">{{ n }}</option>
			{% endfor %}
		    </select>
		</div>
		<div class="row-fluid">		    
		    <input type="hidden" name="house_id" value="{{ id }}" />
		    <button class="btn-large btn btn-success buy_house">Купить</button>
		</div>
	    {%  endif %}
	</div>
    </div>
</div>