{% extends 'base.html.twig' %}

{% block content %}
    <div class="purchases_content">
		{% for type in typedHouses %}
            <p><img src="{{ type[1].imageUrl }}" /> {{ type[0] }} шт.</p>
        {% else %}
            <p>У вас пока нет приобретений.</p>
        {% endfor %}
    </div>
{% endblock %}