<ul>
    {% for h in houses %}
	{% if h.quantity > 0 %}
	    <li>
		<a class="house{{ h.sorting }}" href="javascript:void(0);" data-id="{{ h.id }}" data-quantity="{{ h.quantity }}"></a>
		<div class="one_house_title">
		    <span class="upper">{{ h.title }}</span>
		    <br />
		    (Количество - {{ h.quantity }})
		    <br />
		    <br />
		    <button class="btn btn-success" data-id="{{ h.id }}" data-quantity="{{ h.quantity }}">Купить за {{ h.price }} $</button>
		</div>
	    </li>
	{% endif %}
    {% endfor %}
</ul>
<button class="btn btn-link hide" data-target=".houses-modal" data-toggle="modal" type="button"></button>