{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/house_grid.css') }}"/>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="grass-panel panel">
			<div class="panel-body">
				<div class="row-fluid">
					<div class="col-md-4 col-md-offset-8 text-right">
						<a href="{{ path('listMail', { 'id': house.id }) }}" class="btn btn-primary">Почта</a>
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary">
								<input id="editModeToggle" type="checkbox" autocomplete="off"> Режим редактирования
							</label>
						</div>
						<button class="btn btn-primary" data-toggle="modal" data-target="#inventory">Инвентарь</button>
					</div>
				</div>
				<div class="clear"></div>
				<div class="text-center">
					<div class="house-container">
						<div class="house-image-container">
							<img data-toggle="tooltip" title="{{ house.type.title }}" src="{{ house.type.houseImageUrl }}" width="300px" class="house-image" />
						</div>
						{% spaceless %}
							<div class="items">
								{% for x in 0..4 %}
									<div class="item-row">
										{% for y in 0..8 %}
											{% if house.hasItemOn(x, y) %}
												<div class="item item-full">
													{% set item = house.getItemOn(x, y) %}
													<div data-full data-toggle="tooltip" title="Удалить" class="delete-item" data-id="{{ item.id }}"></div>
													<img src="{{ item.imageUrl }}" title="{{ item.title }}" width="100px" height="100px" data-toggle="tooltip" />
												</div>
											{% else %}
												<div data-empty data-x="{{ x }}" data-y="{{ y }}" class="item"></div>
											{% endif %}
										{% endfor %}
									</div>
								{% endfor %}
							</div>
						{% endspaceless %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block modals %}
	<div class="modal fade" id="inventory" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="inventoryModalTitle"><span hidden>Выберите предмет, который вы хотите разместить</span><span>Инвентарь</span></h4>
				</div>
				<div class="modal-body container-fluid">
					<div class="row-fluid">
						{% for item in inventory %}
							<div class="col-md-4">
								<img class="inventory-item" width="100px" data-id="{{ item.id }}" src="{{ item.imageUrl }}" data-toggle="tooltip" title="{{ item }}" />
							</div>
						{% else %}
							<div class="col-md-12">
								В вашем инвентаре пусто, попробуйте <a href="{{ path('itemShop') }}">купить предметы</a>.
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script type="text/javascript" src="{{ path('fos_js_routing_js', { 'callback': 'fos.Router.setData' }) }}"></script>
	<script type="text/javascript">
		var getHouseId = function () {
			'use strict';
			return {{ house.id }};
		};
	</script>
	<script type="text/javascript" src="{{ asset('js/item-management.js') }}"></script>
{% endblock %}