{% extends 'base.html.twig' %}

{% block title %}
    Магазин предметов
{% endblock %}

{% block content %}
    <h3>{{ block('title') }}<small> У вас {{ app.user.coins }} монет(ы)</small></h3>
    <div class="row-fluid">
        {% for item in items %}
            <div class="col-md-4">
                <a data-name="{{ item.title }}" data-href="{{ path('buyItem', { 'id': item.id }) }}" class="thumbnail item">
                    <img src="{{ item.imageUrl }}" />
                    <div class="caption">
                        <p>{{ item.title }}</p>
                        <p><strong>{{ item.price }} монеты</strong></p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="itemBuyPrompt" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Вы точно хотите купить предмет "<span id="itemName"></span>"?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">Нет</button>
                    <a id="itemBuyLink" class="btn btn-success">Да</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        (function ($) {
            'use strict';
            var itemBuyModal = $('#itemBuyPrompt');
            itemBuyModal.modal({show: false});
            $('.item').click(function (e) {
                var data = $(this).data();
                $('#itemName').text(data.name);
                $('#itemBuyLink').attr('href', data.href);
                itemBuyModal.modal('show');
                e.preventDefault();
                return false;
            });
        }(jQuery));
    </script>
{% endblock %}