{% set useAngular = useAngular|default(false) %}
<!DOCTYPE html>
<html{{ is_mobile() ? ' data-ng-csp' : '' }} data-ng-app="app">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Start Alexa Certify Javascript -->
        <script type="text/javascript">
            _atrk_opts = { atrk_acct:"khyRk1ao6C52jn", domain:"likeeland.com",dynamic: true};
            (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
        </script>
        <noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=khyRk1ao6C52jn" style="display:none" height="1" width="1" alt="" /></noscript>
        <!-- End Alexa Certify Javascript -->
        {% if useAngular %}
            <link rel="stylesheet" href="{{ asset('bundles/app/components/angular/angular-csp.css') }}" />
        {% endif %}
    </head>
    <body>

        <nav class="navbar navbar-default navbar-fixed-top text-center">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                {{ knp_menu_render('leftMenu', { 'style': 'navbar' }) }}
                {% if not app.security.granted('ROLE_USER') %}
                    <p class="navbar-text nav-text-center">LIKEELAND</p>
                {% endif %}
                {{ knp_menu_render('rightMenu', { 'style': 'navbar-right' }) }}
            </div>
        </nav>

        <div class="container-fluid" id="alert-container">{% include '@BraincraftedBootstrap/flash.html.twig' with {close: true} %}</div>
        {% block body %}
        <div class="container-fluid" id="content">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        {% endblock %}

        <footer class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-6 text-center">
                    likeeland.com &copy; 2015. Все права защищены
                </div>
                <div class="col-md-6">
                    <p class="lead">Свяжитесь с нами:</p>
                    <form role="form" onsubmit="return false" method="post">
                        <div class="form-group">
                            <label for="name1">Ваше имя</label>
                            <input name="Name" class="form-control" id="name1" placeholder="Ваше имя" type="text">
                        </div>
                        <div class="form-group">
                            <label for="email1">E-Mail</label>
                            <input name="Mail" class="form-control" id="email1" placeholder="E-Mail" type="email">
                        </div>
                        <div class="form-group">
                            <label for="message">Ваше сообщение</label>
                            <textarea id="message" class="form-control" name="Message" rows="3"></textarea>
                        </div>
                        <input data-toggle="modal" data-target=".construct-modal" class="btn-large btn btn-default" type="submit">
                    </form>
                </div>
            </div>
        </footer>

        <div class="modal fade construct-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <p>Данная часть сайта находится в разработке. Скоро всё будет работать :)</p>
                    <button class="btn btn-success" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>

        {% block modals %}{% endblock %}

        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
        <script type="text/javascript">
            (function ($) {
                'use strict';
                $('[data-toggle="tooltip"]').tooltip();
            }(jQuery));
        </script>
        {% block javascripts %}
            {% if useAngular %}
                {% javascripts output='angular.js'
                    'bundles/app/components/angular/angular.min.js'
                    'bundles/app/components/angular.module-loader/logger.js'
                    'bundles/app/components/angular.module-loader/moduleLoader.js'
                    'bundles/app/components/angular.module-loader/base-app.js'
                %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
            {% endif %}
        {% endblock %}
    </body>
</html>
