<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <title>ГЛАВНАЯ</title>

        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        <!-- Google Font -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
        <!-- Animate -->
        <link href="{{ asset('css/landing/animate/animate.css') }}" rel="stylesheet">
        <!-- Owl Carousel -->
        <link href="{{ asset('css/landing/owl-carousel/owl.carousel.css') }}" rel="stylesheet">
        <link href="{{ asset('css/landing/owl-carousel/owl.theme.css') }}" rel="stylesheet">
        <!-- Magnific Popup -->
        <link href="{{ asset('css/landing/magnific-popup/magnific-popup.css') }}" rel="stylesheet">
        <!-- Main-Style -->
        <link href="{{ asset('css/landing/style.css') }}" rel="stylesheet">


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body class="bg-slider" data-spy="scroll" data-target=".navbar-custom">

        <div class="preloader">
            <div class="loader-item">
                <img src="{{ asset('images/landing/loading.gif') }}" alt="loader">
            </div>
        </div>

        <!-- pattern -->
        <div id="bg_pattern"></div>
        <!-- ./pattern -->

        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="{{ asset('images/landing/logo.png') }}" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="top-nav">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="page-scroll"><a href="#slider">О Нас</a></li>
                        <li class="page-scroll"><a href="#icon-box">Мы & IT</a></li>
                        <li class="page-scroll"><a href="#featured">Перспективы</a></li>
                        <li class="page-scroll"><a href="#showcase">Команда</a></li>
                        <li class="page-scroll"><a href="#pricing">Возможности</a></li>
                        <li class="page-scroll"><a href="#contact">Контакты</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ЛИЧНЫЙ
                                КАБИНЕТ<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('fos_user_security_login') }}">Авторизация</a></li>
                                <li><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></li>
                                <li><a href="{{ path('fos_user_resetting_request') }}">Забыли Пароль</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!-- ./navigation -->


        <!-- Slider -->
        <div id="slider" class="fullSection">
            <div class="container">

                <!-- fullscreen-slider -->
                <div id="fullscreen-slider" class="carousel slide wow bounceIn showdelay4" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#fullscreen-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#fullscreen-slider" data-slide-to="1"></li>
                        <li data-target="#fullscreen-slider" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="slider-caption">
                                <i class="fa fa-paper-plane-o"></i>

                                <h2>LIKEELAND</h2>

                                <p>Единственный генератор ярких эмоций. Только у нас ВЫ сможете реализовать свои желания и
                                    мечты. Самый надёжный проект в сети RUNET </p>

                                <div class="page-scroll">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-caption">
                                <i class="fa fa-life-ring"></i>

                                <h2>Сплочённый коллектив</h2>

                                <p>Самое яркое и масштабное событие в RUNET. Выгодные условия для заработка, позитивная
                                    атмосфера и огромные перспективы - неизменные спутники проекта Likeeland</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-caption">
                                <i class="fa fa-video-camera"></i>

                                <h2>Кинозаработок</h2>

                                <p>А также ТРИНАР, 3D LAND, ИНВЕСТИЦИИ и более 50 других видов заработка. Каждое из направлений
                                    представляет собой органичный сплав экономически выверенных условий и математически
                                    спрогнозированных размеров дохода</p>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#fullscreen-slider" role="button" data-slide="prev">
                        <!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
                        <span class="fa fa-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#fullscreen-slider" role="button" data-slide="next">
                        <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
                        <span class="fa fa-chevron-right"></span>
                    </a>
                </div>
                <!-- fullscreen-slider -->

                <!-- slider-modal -->
                <div class="modal fade" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                            class="sr-only">Close</span></button>
                                <h2 class="modal-title" id="myModalLabel1">Slider Details</h2>
                            </div>
                            <div class="modal-body">
                                <p>авываыва
                                    выаываыыва </p>

                                <p>hckzjxckjxhczkxjhckzjxc</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./slider-modal -->

                <!-- video-modal -->
                <div class="modal fade" id="slider-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                            class="sr-only">Close</span></button>
                                <h2 class="modal-title" id="myModalLabel2">Slider Details</h2>
                            </div>
                            <div class="modal-body">
                                <!-- 16:9 aspect ratio -->
                            </div>
                            <br>

                            <p>Стартовав в конце декабря 2014 года, Likeeland быстро стал главным событиемт на просторах
                                РУНЕТА</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./video-modal -->
        </div>

        <!-- ./Slider -->

        <!-- Icon-box -->
        <div id="icon-box" class="fullSection">
            <div class="container">

                <div class="section-heading">
                    <h2>Мы & IT</h2>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="icon-box text-center wow fadeInLeft showdelay2">
                            <img src="{{ asset('images/landing/icon1.png') }}" alt="icon1"/>

                            <h3> Android приложение</h3>

                            <p>Активно идет написание приложения под Android систему. </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="icon-box text-center wow fadeInUp showdelay2">
                            <img src="{{ asset('images/landing/icon2.png') }}" alt="icon2"/>

                            <h3>IOS Приложение</h3>

                            <p>Разработка 3D LAND под систему IOS. Наикрасивейший дизайн</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="icon-box text-center wow fadeInRight showdelay2">
                            <img src="{{ asset('images/landing/icon3.png') }}" alt="icon3"/>

                            <h3>Лента Новостей</h3>

                            <p>Планируем внедрить онлайн ленту новостей от руководства компании</p>
                        </div>
                    </div>
                </div>
                <!-- ./row -->

                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="icon-box text-center wow fadeInLeft showdelay2">
                            <i class="fa fa-android"></i>

                            <h3>Что это такое ?</h3>

                            <p>Для владельцев смартфонов на системе Android, будет доступна версия нашего сайта путём входа
                                через бесплатное приложение на смартфоне</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="icon-box text-center wow fadeInUp showdelay2">
                            <i class="fa fa-apple"></i>

                            <h3>Что это такое ?</h3>

                            <p>Для владельцев гаджетов на системе IOS, будет доступно бесплатное приложение для входа и участия
                                в наш 3D LAND. Функциональность будет очень удобной , а графика превосходить графику отображения
                                на сайте</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="icon-box text-center wow fadeInRight showdelay2">
                            <i class="fa fa-rocket"></i>

                            <h3>Что это такое ?</h3>

                            <p>Вы будете постоянно получать оповещения о новостях компании от руководства компании, а также от
                                Госсовета 3D LAND на свои электронные адреса, мобильные номера в виде смс,а также на внутреннюю
                                почту на сайте</p>
                        </div>
                    </div>
                </div>
                <!-- ./row -->
            </div>
        </div>
        <!-- ./Icon-box -->

        <!-- featured -->
        <div id="featured" class="fullSection">
            <div class="container">

                <div class="section-heading">
                    <h2>В скором будущем ...</h2>
                </div>

                <!-- featured-list -->
                <div id="featured-list" class="owl-carousel  wow fadeInUp showdelay2">

                    <div class="featured-box item text-center">
                        <img class="img-responsive img-thumbnail" src="{{ asset('images/landing/img8.jpg') }} " alt="">

                        <div class="featured-info">
                            <h3> 3D LAND</h3>

                            <p>Каждую неделю мы будем вводить по ОДНОМУ новому виду заработка... Пока общее количество не
                                составит 50 видов. Но и на этом мы не остановимся :)</p>

                        </div>
                    </div>
                    <div class="featured-box item text-center">
                        <img class="img-responsive img-thumbnail" src="{{ asset('images/landing/img7.jpg') }} " alt="">

                        <div class="featured-info">
                            <h3>БАНК</h3>

                            <p>Возможность получить потребительский кредит, а также открыть вклад под высокий процент</p>
                        </div>
                    </div>
                    <div class="featured-box item text-center">
                        <img class="img-responsive img-thumbnail" src="{{ asset('images/landing/img6.jpg') }}" alt="">

                        <div class="featured-info">
                            <h3>Платёжная система</h3>

                            <p>Платёжная система которая превзойдет многие существующие аналоги</p>
                        </div>
                    </div>
                    <div class="featured-box item text-center">
                        <img class="img-responsive img-thumbnail" src="{{ asset('images/landing/img5.jpg') }}" alt="">

                        <div class="featured-info">
                            <h3>Обменник</h3>

                            <p>Собственный обменный сервис для наших партнеров без комисси при обмене</p>
                        </div>
                    </div>
                    <div class="featured-box item text-center">
                        <img class="img-responsive img-thumbnail" src="{{ asset('images/landing/img4.jpg') }}" alt="">

                        <div class="featured-info">
                            <h3>ИПОТЕКА</h3>

                            <p>Возможность получить ипотечный кредит на выгодных условиях</p>
                        </div>
                    </div>
                    <div class="featured-box item text-center">
                        <img class="img-responsive img-thumbnail" src="{{ asset('images/landing/img3.jpg') }}" alt="">

                        <div class="featured-info">
                            <h3>Матричная система</h3>

                            <p>Добавление матричной программы , которая отличается от всех своих аналогов</p>
                        </div>
                    </div>
                </div>
                <!-- ./featured-list -->

                <!-- featured-modal -->
                <div class="modal fade" id="featured-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                            class="sr-only">Close</span></button>
                                <h2 class="modal-title" id="myModalLabel3">Web Design</h2>
                            </div>
                            <div class="modal-body">
                                <h3 class="text-center">Center image with details</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./featured-modal -->
            </div>
        </div>
        <!-- ./featured -->

        <!-- showcase -->
        <div id="showcase" class="fullSection">
            <div class="container">

                <div class="section-heading">


                    <div class="section-heading">
                        <h2>Руководство</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
                            <div class="team-box">
                                <div class="team-image">
                                    <img src="{{ asset('images/landing/team1.jpg') }}" class="img-circle" alt=""/>

                                </div>
                                <div class="team-info">
                                    <h3>Ринат Ибрагимов</h3>
                                    <b>Генеральный Директор</b>

                                    <p>Основатель и бессменный лидер </p>
                                    <ul class="team-social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
                            <div class="team-box">
                                <div class="team-image">
                                    <img src="{{ asset('images/landing/team2.jpg') }}" class="img-circle" alt=""/>

                                </div>
                                <div class="team-info">
                                    <h3>Дмитрий Ершов</h3>
                                    <b>Технический Директор</b>

                                    <p>Вопросы по техническому развитию проекта </p>
                                    <ul class="team-social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /row -->

                    <div class="row">
                        <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
                            <div class="team-box">
                                <div class="team-image">
                                    <img src="{{ asset('images/landing/team3.jpg') }}" class="img-circle" alt=""/>

                                </div>
                                <div class="team-info">
                                    <h3>Алексей Соколов</h3>
                                    <b>Программист</b>

                                    <p>Работает за 1$ в месяц :) </p>
                                    <ul class="team-social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 wow fadeInUp showdelay2">
                            <div class="team-box">
                                <div class="team-image">
                                    <img src="{{ asset('images/landing/team4.jpg') }}" class="img-circle" alt=""/>

                                </div>
                                <div class="team-info">
                                    <h3>Иван Акатьев</h3>
                                    <b>Приносит Кофе</b>

                                    <p>Работает за Идею </p>
                                    <ul class="team-social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
            </div>
            <!-- ./team -->
        </div>

        <!-- pricing -->
        <div id="pricing" class="fullSection">
            <div class="container">

                <div class="section-heading">
                    <h2>Возможности</h2>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-3 wow fadeInUp showdelay2">
                        <div class="price-box text-center">
                            <div class="price-title">
                                видео
                                <span><small>$</small>0</span>
                            </div>
                            <ul class="unstyled price-list">
                                <li><b>1 фильм </b> Каждый День</li>
                                <li><b>От 1$-5$</b> за Каждый фильм</li>
                                <li><b>БЕЗ</b> Вложений</li>
                                <li><b>Всего</b> 2 часа в день</li>
                                <li><b>Дивиденды </b> с Акций</li>
                            </ul>
                            <div class="price-action"></div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 wow fadeInUp showdelay2">
                        <div class="price-box text-center">
                            <div class="price-title">
                                ТРИНАР
                                <span><small>от $</small>10</span>
                            </div>
                            <ul class="unstyled price-list">
                                <li><b>ОБЩАЯ</b> Система Статусов</li>
                                <li><b>ДОХОД</b> на 6 Уровней вниз</li>
                                <li><b>50%</b> реферальная система</li>
                                <li><b>Пассивный</b> Заработок</li>
                                <li><b>73,000$ </b> на выходе</li>
                            </ul>
                            <div class="price-action"></div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 wow fadeInUp showdelay2">
                        <div class="price-box text-center">
                            <div class="price-title">
                                3D Land
                                <span><small>от $</small>0.10</span>
                            </div>
                            <ul class="unstyled price-list">
                                <li><b>Виртуальное</b> Государство</li>
                                <li><b>4 вида</b>Владений</li>
                                <li><b>Биржа</b></li>
                                <li><b>до 50</b> видов заработка</li>
                                <li><b>Карьерный рост</b></li>
                            </ul>
                            <div class="price-action"></div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 wow fadeInUp showdelay2">
                        <div class="price-box text-center">
                            <div class="price-title">
                                Старт Ап
                                <span><small>от $</small>0.01</span>
                            </div>
                            <ul class="unstyled price-list">
                                <li><b>Уникальные Идеи</b></li>
                                <li><b> Инвестиции</b></li>
                                <li><b>Страхование вложений</b></li>
                                <li><b>Творческий подход</b></li>
                                <li><b>Высокая рентабильность</b></li>
                            </ul>
                            <div class="price-action"></div>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
        </div>
        <!-- ./pricing -->

        <!-- contact -->
        <div id="contact" class="fullSection">
            <div class="container">

                <div class="section-heading">
                    <h2>Свяжитесь с нами</h2>
                </div>

                <div class="row">
                    <!-- Contact Form -->
                    <!-- In order to set the email address and subject line for the contact form go to the contact_me.php file. -->
                    <div class="col-md-6 col-sm-6">
                        <div class="contact-form  wow fadeInLeft showdelay2">
                            <form name="sentMessage" id="contactForm" novalidate>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Ваше Имя</label>
                                        <input type="text" class="form-control" id="name" placeholder="Name" required data-validation-required-message="Please enter your name.">

                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Ваша почта</label>
                                        <input type="email" class="form-control" id="email" placeholder="Email Address"
                                               required data-validation-required-message="Please enter your email address.">

                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Текст</label>
                                        <textarea class="form-control" rows="7" id="message" placeholder="Message" required
                                                  data-validation-required-message="Please enter your message"
                                                  maxlength="999" style="resize:none"></textarea>
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div id="success"></div>
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-custom btn-lg">Отправить</button>
                                </div>
                            </form>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- ./contact form -->

                    <!-- address -->
                    <div class="col-md-6 col-sm-6">
                        <div class="address  wow fadeInRight showdelay2">
                            <h3>Адрес</h3>
                            <ul class="unstyled">
                                <li><i class="fa fa-map-marker"></i>Российская Федерация, г.Москва, Копим на ОФИС :)</li>
                                <li><i class="fa fa-envelope"></i>support@likeeland.com</li>
                                <li><i class="fa fa-phone"></i>+7 (985)-xxx-xx-xx</li>
                                <li><i class="fa fa-fax"></i>+7 (985)-xxx-xx-xx</li>
                            </ul>
                        </div>
                        <div class="social wow fadeInRight showdelay2">
                            <h3>Мы в Социальных Сетях</h3>
                            <ul class="social-link">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- ./address -->
                </div>
                <!-- /row -->
            </div>
        </div>
        <!-- ./contact -->

        <!-- footer -->
        <footer id="footer">
            <div class="container">
                <div class="text-center">
                    &copy; 2014-2015 Likeeland | Ринат Ибрагимов
                </div>
            </div>
        </footer>
        <!-- ./footer -->

        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
        <!-- easing -->
        <script src="{{ asset('js/landing/easing/jquery.easing.1.3.js') }}"></script>
        <!-- wow -->
        <script src="{{ asset('js/landing/wow/wow.min.js') }}"></script>
        <!-- backstretch -->
        <script src="{{ asset('js/landing/backstretch/jquery.backstretch.min.js') }}"></script>
        <!-- owl carousel -->
        <script src="{{ asset('js/landing/owl-carousel/owl.carousel.js') }}"></script>
        <!-- Magnific Popup -->
        <script src="{{ asset('js/landing/magnific-popup/jquery.magnific-popup.js') }}"></script>
        <!-- waypoints -->
        <script src="{{ asset('js/landing/waypoints/waypoints.js') }}"></script>
        <!-- counterup -->
        <script src="{{ asset('js/landing/counterup/jquery.counterup.js') }}"></script>
        <!-- countdown -->
        <script src="{{ asset('js/landing/countdown/jquery.countdown.min.js') }}"></script>
        <!-- UIToTop -->
        <script src="{{ asset('js/landing/uitotop/jquery.ui.totop.min.js') }}"></script>
        <!-- jqbootstrapvalidator -->
        <script src="{{ asset('js/landing/jqbootstrapvalidation/jqBootstrapValidation.js') }}"></script>
        <!-- main -->
        <script src="{{ asset('js/landing/main.js') }}"></script>
    </body>
</html>