{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center">{{ form(gotoForm, {style: 'inline'}) }}</div>
    <div class="row">
        {% for user in users %}
            <div class="col-md-3 text-center">
                <a href="{{ url('profileViewGuest', {id: user.id}) }}">
                    <img width="128" height="128" class="img-circle" src="{{ asset(user.avatarPath) }}" />
                    <h3>{{ user.username }}</h3>
                </a>
            </div>
        {% endfor %}
        <div class="text-center">{{ knp_pagination_render(users) }}</div>
    </div>
{% endblock %}
