{% extends 'base.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-3 text-center">
            <p>
                {% if user.avatarPath %}
                    <img width="225" src="{{ asset(user.avatarPath) }}" class="img-circle" />
                {% else %}
                    <img width="225" src="{{ asset('images/no-ava.png') }}" class="img-circle" />
                {% endif %}
            </p>
        </div>
        <div class="col-md-9">
            <table class="table vcenter-table" style="vertical-align: middle;">
                <tbody>
                <tr>
                    <td>Логин:</td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td>ID:</td>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <td>ФИО:</td>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <td>Skype:</td>
                    <td>{{ user.skype }}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{ user.email }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}