{% extends 'base.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-3 text-center">
            <p>
                {% if app.user.avatarPath %}
                    <img width="225" src="{{ asset(app.user.avatarPath) }}" class="img-circle" />
                {% else %}
                    <img width="225" src="{{ asset('images/no-ava.png') }}" class="img-circle" />
                {% endif %}
            </p>
            <div hidden>{{ form(uploadAvatarForm) }}</div>
            <button class="btn btn-default" onclick="uploadAvatar()">Изменить</button>
        </div>
        <div class="col-md-9">
            {{ form_start(profileEditForm, {attr: {id: profileEditForm.vars.id}}) }}
            <table class="table vcenter-table" style="vertical-align: middle;">
                <tbody>
                <tr>
                    <td>ID:</td>
                    <td>{{ app.user.id }}</td>
                </tr>
                <tr>
                    <td>ФИО:</td>
                    <td>{{ form_widget(profileEditForm.name) }}</td>
                </tr>
                <tr>
                    <td>Skype:</td>
                    <td>{{ form_widget(profileEditForm.skype) }}</td>
                </tr>
                {{ form_end(profileEditForm) }}
                <tr>
                    <td>Email:</td>
                    <td>{{ app.getUser().email }}</td>
                </tr>
                <tr>
                    <td>Баланс:</td>
                    <td>{{ app.getUser().balance }}$ <button class="btn btn-link" type="button" data-toggle="modal" data-target=".payment-modal">Пополнить счёт</button> | <button type="button" class="btn btn-link" data-toggle="modal" data-target=".payment-out-modal">Вывести деньги</button></td>
                </tr>
                {#<tr>
                    <td>Просмотры видео:</td>
                    <td> <span class="text-success">{{ app.getUser().getSuccessViews() }}</span> / <span class="text-danger">{{  app.getUser().getFailViews() }}</span></td>
                </tr>#}
                 <tr>
                    <td>Количество баллов за просмотры видео:</td>
                    <td> {{ app.getUser().getPoints() }} </td>
                </tr>
                {#<tr>
                    <td>Всего просмотров за эту видеосессию:</td>
                    <td> {{ video.currentViews }} / {{ video.maxViews }} (по состоянию на {{ video.updateTime|date('j.m.Y G:i') }})</td>
                </tr>#}
                <tr>
                    <td>Золотые монеты:</td>
                    <td>{{ app.getUser().coins }}</td>
                </tr>
                <tr>
                    <td>Ваша реферальная ссылка:</td>
                    <td><input onclick="this.setSelectionRange(0, this.value.length)" type="text" class="form-control" readonly value="{{ url('homepage_ref', { referral: app.getUser().username }) }}"></td>
                </tr>
                {% if app.security.granted('ROLE_INACTIVE') %}
                    <tr>
                        <td>Активация в тринаре:</td>
                        <td>
                            <a href="{{ path('user_activate') }}" class="btn btn-default"
                                    {% if app.user.balance < 10 %}aria-disabled="true"{% endif %}>
                                Активировать
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Депозит:</td>
                        <td>
                            {% if app.user.canReplenishAccountCost() %}
                                {{ form_start(depositForm, { style: 'inline' }) }}
                                {{ form_row(depositForm.current) }}
                                {{ form_row(depositForm.amount) }}
                                {{ form_row(depositForm.submit) }}
                                {{ form_end(depositForm) }}
                            {% else %}
                                {{ app.user.accountCost }}$
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <button class="btn btn-info" form="{{ profileEditForm.vars.id }}" type="submit">Сохранить изменения</button>
        </div>
    </div>

    <div class="modal fade payment-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <form action="https://perfectmoney.is/api/step1.asp" method="post">
                    <input type="hidden" name="PAYEE_ACCOUNT" value="U8092116">
                    <input type="hidden" name="PAYEE_NAME" value="likeeland.com">
                    <input type="hidden" name="PAYMENT_ID" value="{{ app.getUser().id }}">
                    <div class="form-group">
                        <label for="cash">Сумма пополнения в $</label>
                        <input name="PAYMENT_AMOUNT" class="form-control" id="cash" type="number">
                    </div>
                    <input type="hidden" name="PAYMENT_UNITS" value="USD">
                    <input type="hidden" name="STATUS_URL" value="">
                    <input type="hidden" name="PAYMENT_URL" value="http://likeeland.com/payment">
                    <input type="hidden" name="PAYMENT_URL_METHOD" value="POST">
                    <input type="hidden" name="NOPAYMENT_URL" value="http://likeeland.com/payment">
                    <input type="hidden" name="NOPAYMENT_URL_METHOD" value="POST">
                    <input type="hidden" name="SUGGESTED_MEMO" value="">
                    <input type="hidden" name="BAGGAGE_FIELDS" value="">
                    <input class="btn-large btn btn-success" name="PAYMENT_METHOD" type="submit" value="Пополнить">
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade payment-out-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                {{ form(out_form, {style: 'vertical'}) }}
            </div>
        </div>
    </div>

    <div class="modal fade send-money-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                {{ form(sendMoneyForm, {style: 'vertical'}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if formErrors %}
        <script type="text/javascript">$(".payment-out-modal").modal();</script>
    {% endif %}
    <script type="text/javascript">
        function uploadAvatar()
        {
            $("#form_avatarFile").click();
        }
        $("#form_avatarFile").change(function () {
            $(document.forms.form).submit();
        });
    </script>
{% endblock %}