{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="col-md-6">
            <h3>Ваш тринар:</h3>
            {% for level in trinarView %}
                <div class="trinar-level">
                    <h4>{{ loop.index }} уровень</h4>
                    <ol>
                        {% for username in level %}
                            <li>{{ username }}</li>
                        {% endfor %}
                    </ol>
                </div>
            {% else %}
                Ваш тринар заполняется!
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h3>Ваши рефералы:</h3>
            {% if referrals|length %}
                <ol>
                    {% for referal in referrals %}
                        <li onclick="getRefers('{{ referal.username }}')" style="cursor: pointer" class="{{ referal.hasRole('ROLE_INACTIVE') ? 'text-danger' : 'text-success' }}">{{ referal.username }}</li>
                    {% endfor %}
                </ol>
            {% else %}
                У вас нет рефералов!
            {% endif %}

            <div id="referResponse" style="display: none">
                <h3>Рефералы пользователя <span id="referName"></span>:</h3>
                <ul id="referList">
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function getRefers(username) {
            $.get('/getRefers/' + username, {}, function (response) {
                $('#referName').text(username);
                var user,
                    referList = $('#referList');
                referList.text('');
                if (response.length == 0) {
                    referList.append('<li>Рефералов нет</li>');
                } else {
                    for (user in response) {
                        referList.append('<li style="cursor:pointer" onclick="getRefers(\''+ response[user] +'\')">'+ response[user] +'</li>');
                    }
                }
                $("#referResponse").show();
            }, 'json');
        }
    </script>
{% endblock %}