{% extends 'base.html.twig' %}

{% block body %}
    <div id="header-image">
        <video preload="auto" id="video" controls width="100%" height="100%">
            <source src="{{ asset('video.webm') }}" />
        </video>
    </div>

    <div class="modal fade banner-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div id="banner_context"></div>
                <button id="bannerButton" onclick="bannerClicked = true;" class="btn btn-success" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
      //  (function() {
            var video = $("#video").get(0);
            var banners = ['баннер 1', 'баннер 2'];
            var duration = 123123;
            var videoDuration = parseInt(duration);
            var durations = [1800, 3600];
            var timer = 0;

            function showBanner() {
                var bannerTime = 0;
                bannerClicked = false;
                $("#banner_context").text(banners[durations.indexOf(timer)]);
                $(".banner-modal").modal();
                bannerShow = setInterval(function(){
                    if (bannerTime >= 4 && !bannerClicked) {
                        window.location = '/video/fail';
                    } else {
                        if (bannerClicked) {
                            window.clearInterval(bannerShow);
                            video.play();
                        }
                    }
                    bannerTime++;
                }, 1000);
            }

            timerIncrementer = setInterval(function(){
                if (timer < videoDuration && !video.paused) {
                    if (durations.indexOf(timer) != -1) {
                        video.pause();
                        showBanner();
                    }
                    timer++;
                } else {
                    if (timer > videoDuration) {
                        window.location = '/video/success';
                    }
                }
            }, 1000);
            $("#video").click(function() {
                //video.removeAttribute("controls");
                //$("#video").off("click");
            });
        //})();
    </script>
    <!--<script type="text/javascript" src=""></script>-->
{% endblock %}