{% extends 'base.html.twig' %}

{% block content %}
    <h2>Заявки на вывод средств</h2>
    <table class="table">
        <thead>
            <th>№</th>
            <th>Пользователь</th>
            <th>Сумма</th>
            <th>Кошелек</th>
            <th>Действие</th>
        </thead>
        <tbody>
            {% for payment in payments %}
                <tr>
                    <td>{{ payment.id }}</td>
                    <td>{{ payment.user.username }}</td>
                    <td>{{ payment.amount }}</td>
                    <td>{{ payment.bankAccount }}</td>
                    <td><a href="{{ path('processOutAccept', { id: payment.id }) }}" class="btn btn-success">Принять</a>  <a href="{{ path('processOutDecline', { id: payment.id }) }}" class="btn btn-danger">Отклонить</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}