{% extends 'base.html.twig' %}

{%- block title -%}
    Инвестиции
{%- endblock -%}

{%- block content -%}
    <h3>{{ block('title') }}</h3>
    <table class="table table-bordered vcenter-table">
        <tr>
            <th>3 дня</th>
            <th>7 дней</th>
            <th>30 дней</th>
        </tr>
        <tr>
            <td>{{ quickDeposit }}%</td>
            <td>{{ weekDeposit }}%</td>
            <td>{{ monthDeposit }}%</td>
        </tr>
        <tr>
            <td><a href="{{ path('createDeposit', { 'period': '3days' }) }}" class="btn btn-success">инвестировать</a></td>
            <td><a href="{{ path('createDeposit', { 'period': 'week' }) }}" class="btn btn-success">инвестировать</a></td>
            <td><a href="{{ path('createDeposit', { 'period': 'month' }) }}" class="btn btn-success">инвестировать</a></td>
        </tr>
    </table>
{%- endblock -%}