{% extends 'base.html.twig' %}

{%- block title -%}
    Инвестиции / Инвестировать
{%- endblock -%}

{%- block content -%}
    <h3>{{ block('title') }}</h3>
    {{- form(form, { 'style': 'horizontal' }) -}}
{%- endblock -%}