{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">window.location = '{{ path('profile') }}';</script>
{% endblock %}
