{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form, {'style': 'vertical'}) }}
    <div>
        <br>
        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>
{% endblock %}