{% extends 'base.html.twig' %}

{% block title %}
    Банк
{% endblock %}

{% block content %}
    <h3>{{ block('title') }}</h3>
    <p>Текущие курсы обмена:</p>
    <ul>
        <li>1 балл = {{ rates[constant('AppBundle\\Util\\Enum\\ExchangeRate::POINTS')][constant('AppBundle\\Util\\Enum\\ExchangeRate::COINS')] }} золотые монеты</li>
        <li>1 золотая монета = {{ rates[constant('AppBundle\\Util\\Enum\\ExchangeRate::COINS')][constant('AppBundle\\Util\\Enum\\ExchangeRate::MONEY')] }} $</li>
    </ul>
    {{ form(form, {'style': 'horizontal'}) }}
{% endblock %}