{% extends 'base.html.twig' %}

{% block content %}
	<table class="table table-bordered vcenter-table">
		<thead>
			<th>№</th>
			<th>Сообщение</th>
			<th>Действия</th>
		</thead>
		<tbody>
			{% for message in messages %}
				<tr>
					<td>{{ loop.index }}</td>
					<td>
						{{ message.message.content|truncate(30) }}
						{% if not message.status %}
							{{ label_warning('новое!') }}
						{% endif %}
					</td>
					<td>
						<a href="{{ path('viewMail', { 'id': message.id }) }}" class="btn btn-success">Прочитать</a>
					</td>
				</tr>
			{% else %}
				<p><strong>У вас нет сообщений.</strong></p>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}