{% extends 'base.html.twig' %}

{% block content %}
	<h3>Просмотр сообщения:</h3>
	<p>{{ message.message.content }}</p>
	<a href="{{ path('listMail', { 'id': message.house.id }) }}" class="btn btn-primary">Назад</a>
{% endblock %}