.house-container {
    display: inline-block;
}

.grass-panel {
    background-image: url('../images/bg_grass.png');
    -webkit-background-size: contain;
    background-size: contain;
}

.house-image-container {
    position: absolute;
    margin-left: 300px;
    margin-top: 100px;
}

.item-row .item {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 0;
    -webkit-background-size: 100px 100px;
    background-size: 100px 100px;
}

.bordered .item-row:first-child .item {
    border-top: 1px solid red;
}

.bordered .item-row .item {
    border-bottom: 1px solid red;
}

.bordered .item-row .item:first-child {
    border-left: 1px solid red;
}

.bordered .item-row .item {
    border-right: 1px solid red;
}

.item-row {
    margin: 0;
    padding: 0;
    max-height: 100px;
}

.item-row:nth-child(2) > .item:nth-child(4),
.item-row:nth-child(2) > .item:nth-child(5),
.item-row:nth-child(2) > .item:nth-child(6),
.item-row:nth-child(3) > .item:nth-child(4),
.item-row:nth-child(3) > .item:nth-child(5),
.item-row:nth-child(3) > .item:nth-child(6) {
    border-color: transparent;
}

.bordered .item-row:nth-child(4) > .item:nth-child(4),
.bordered .item-row:nth-child(4) > .item:nth-child(5),
.bordered .item-row:nth-child(4) > .item:nth-child(6) {
    border-top: 1px solid red;
}

.bordered .item-row:nth-child(2) > .item:nth-child(7),
.bordered .item-row:nth-child(3) > .item:nth-child(7) {
    border-left: 1px solid red;
}

.item-row:nth-child(1) .item.item-full {
    position: relative;
    top: 1px;
}

.item-row .item.item-full .delete-item {
    position: absolute;
    margin: 0;
    padding: 0;
}

.item-row .item img {
    vertical-align: baseline;
}

.bordered .item-row .item.item-full:hover .delete-item {
    background-image: url('../images/item-cross.png');
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
}