body {
	color: #fff;
	padding-top: 62px;
	background-color: #333;
	min-width: 100vh;
}
.nav-text-center {
	display: inline-block;
	float: none;
	margin-left: -260px;
	margin-right: -116px;
}
.navbar {
	background-color: #766148;
	border-bottom: 0;
}

.navbar a,
.navbar-text {
	color: #fff !important;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}

.navbar li,
.navbar-text{
	padding-top: 6px;
	padding-bottom: 6px;
	transition: all 0.1s 0s;
	-moz-transition: all 0.1s 0s;
	-webkit-transition: all 0.1s 0s;
	-ms-transition: all 0.1s 0s;
	-o-transition: all 0.1s 0s;
}
.navbar li:hover {
	 background-color: #8E7557;
}

.navbar-right {
	margin-right: 0 !important;
}

.navbar li.active {
	background-color: #8E7557;
}

[id*="sell_houses_form_type_houses_"] .form-group {
	width: 50%;
}

[id*="sell_houses_form_type_houses_"] .form-group label {
	margin-right: 10px;
}

.bc-collection.list-unstyled:not(:empty) {
	border: 1px solid #c3c3c3;
	margin-bottom: 10px;
}

.bc-collection.list-unstyled li:nth-child(odd) {
	background-color: #f7f7f7;
}

.bc-collection.list-unstyled li {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0 !important;
}



.navbar li.active > a {
	background-color: #8E7557 !important;
}

.alert {
	border-radius: 0;
	margin-bottom: 5px;
}

#alert-container {
	margin-bottom: 0;
	margin-top: 15px;
}

#header-image {
	background: url(../images/kino.jpg);
	background-size: contain;
	width: 100%;
	height: 475px;
}

footer {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #766148;
	font-size: 16px;
}

/*.footer-fix {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	z-index: -9999;
	background-color: #766148;
}*/

.modal-content {
	color: #000;
	padding: 20px;
}

#content {
	color: #3c3c3c;
	margin-top: 20px;
}

.panel {
	border-radius: 0;
}

.vcenter-table td {
	vertical-align: middle !important;
}

/* Position the button */
.vjs-res-button {
	float: right;
	line-height: 3em;
}
/* Don't show hover effects on title */
ul li.vjs-menu-title.vjs-res-menu-title:hover {
	cursor: default;
	background-color: transparent;
	color: #CCC;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* Needed to keep text visible in video.js 4.9 */
.vjs-res-button .vjs-control-text {
	width: auto;
	height: auto;
	clip: auto;
}

.vjs-big-play-button {

}

/***************** House Style *********************/

.houses_content {
    width: 100%;
    padding: 50px 20px 30px;
    background: url(../images/bg_choose.jpg) 50% 100% no-repeat;    
}
.houses_content h1.houses_title {
    text-align: center;
    margin: 0 0 30px;
}
.houses_content .house_list_wrap {
    overflow: hidden;
    text-align: center;
}
.houses_content .house_list_wrap ul {
    list-style: none;
    display: inline-block;
    //display: inline;
}
.houses_content .house_list_wrap ul li {
    width: 229px;
    float: left;
    overflow: hidden;
    margin: 0 0 0 20px;
}
.houses_content .house_list_wrap ul li:first-child {
    margin: 0;
}
.houses_content .house_list_wrap ul li a {
    display: block;
    width: 229px;
    height: 183px;
    margin: 0 0 20px;
}
.houses_content .house_list_wrap ul li a.house1 {
    background: url(../images/house_types/1.png) no-repeat;
}
.houses_content .house_list_wrap ul li a.house1:hover {
    background: url(../images/house_types/1_hover.png) no-repeat;
}
.houses_content .house_list_wrap ul li a.house2 {
    background: url(../images/house_types/2.png) no-repeat;
}
.houses_content .house_list_wrap ul li a.house2:hover {
    background: url(../images/house_types/2_hover.png) no-repeat;
}
.houses_content .house_list_wrap ul li a.house3 {
    background: url(../images/house_types/3.png) no-repeat;
}
.houses_content .house_list_wrap ul li a.house3:hover {
    background: url(../images/house_types/3_hover.png) no-repeat;
}
.houses_content .house_list_wrap ul li a.house4 {
    background: url(../images/house_types/4.png) no-repeat;
}
.houses_content .house_list_wrap ul li a.house4:hover {
    background: url(../images/house_types/4_hover.png) no-repeat;
}
.houses_content .house_list_wrap .one_house_title {
    font-size: 15px;
}
.houses_content .house_list_wrap .one_house_title span.upper {
    text-transform: uppercase;
}
#house_quantity {
    margin: 0 0 20px;
}

.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}


.alert {
	border-radius: 0;
	margin-bottom: 5px;
}

.purchases_content .house_list_wrap {
    text-align: left;
}
.purchases_content .house_list_wrap ul {
    list-style: none;
}
.purchases_content .house_list_wrap ul li {
    margin: 0 0 20px;
}
.purchases_content .house_list_wrap ul li span.quantity {
    font-size: 16px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #8E7557;
}

.dropdown-menu {
	background-color: #766148;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #8E7557;
}