{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-group">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input required name="_username" class="form-control" value="{{ last_username }}" id="username" type="text">
        </div>
        <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input required name="_password" class="form-control" id="password" type="password">
        </div>
        <input type="hidden" id="remember_me" name="_remember_me" value="on" />
        <input class="btn-large btn btn-default" id="_submit" type="submit" name="_submit" value="{{ 'security.login.submit'|trans }}">
    </form>
{% endblock %}