{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div>
            {% if invalid_username is defined %}
            <div class="alert alert-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
            {% endif %}
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input class="form-control" type="text" id="username" name="username" required="required" />
        </div>
        <div>
            <br>
            <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
        </div>
    </form>
{% endblock %}