{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    {{ form_widget(form) }}
    <div>
        <br>
        <input class="btn btn-primary" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
</form>
{% endblock %}
