{% extends 'base.html.twig' %}

{% set useAngular = true %}

{% block file_widget %}{% spaceless %}
    <div data-ng-init="fileName = 'Файл не выбран'" class="input-group">
        <span onclick="$(this).next().click()" class="form-control">{{ '{{ fileName }}' }}</span>
        <input data-file="fileName" type="file" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="hidden">
        <div class="input-group-btn">
            <button type="button" onclick="$(this).parent().prev().click();" class="btn btn-default">Выбрать файл</button>
        </div>
    </div>
{% endspaceless %}{% endblock %}

{% block title %}
    Создание бизнес идеи
{% endblock %}

{% form_theme form _self %}

{% block content %}
    <h3>{{ block('title') }}</h3>
    {{ form(form, { style: 'horizontal' }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/angular/fileModule.js') }}"></script>
{% endblock %}