{% extends 'base.html.twig' %}
{% trans_default_domain 'project' %}

{% block content %}
    <h2>История бизнес идей:</h2>
    <table class="table">
        <thead>
            <th>№</th>
            <th>Бизнес идея</th>
            <th>Статус</th>
            <th>Примечание</th>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ project.title }}</td>
                    <td>{{ ('status.' ~ project.status)|trans({}, 'project') }}</td>
                    <td>{{ project.declineDescription|default('') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}