{% extends 'base.html.twig' %}

{% block title %}
    Бизнес идеи
{% endblock %}

{% block content %}
    <div class="row-fluid">
        {% for project in elements %}
        {% set percents = project.progress %}
        <div class="col-md-3">
            <div class="thumbnail">
                <img style="height: 250px;" src="{{ asset(project.imageUrl) }}">
                <div class="caption">
                    <h4 style="height:40px">{{ project.title }}</h4>
                    <p>{{ project.description|truncate(30) }}</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ percents }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percents }}%;"></div>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                {{ percents }}%
                                <br><small>собрано</small>
                            </td>
                            <td>
                                {{ project.totalFunds }} $
                                <br><small>внесено</small>
                            </td>
                            <td>
                                {{ project.daysLeft }}
                                <br><small>дней осталось</small>
                            </td>
                        </tr>
                    </table>
                    <a href="{{ url('startupView', { id: project.id }) }}" class="btn btn-primary btn-block">Просмотр</a>
                </div>
            </div>
        </div>
        {% else %}
            <p>Бизнес идей пока нет.</p>
        {% endfor %}
    </div>
    <div class="text-center">
        {{ knp_pagination_render(elements) }}
    </div>
{% endblock %}