{% extends 'base.html.twig' %}

{% block title %}
Список бизнес идей для проверки
{% endblock %}

{% block content %}
    <div class="row-fluid">
        {% for project in projects %}
            <div class="col-md-3">
                <div class="thumbnail">
                    <img style="height: 250px;" src="{{ asset(project.imageUrl) }}">
                    <div class="caption">
                        <h3>{{ project.title }}</h3>
                        <p>{{ project.description|truncate(30) }}</p>
                        <a href="{{ url('startupView', { id: project.id }) }}" class="btn btn-primary btn-block">Просмотр</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Бизнес идей пока нет.</p>
        {% endfor %}
    </div>
    <div class="text-center">
        {{ knp_pagination_render(projects) }}
    </div>
{% endblock %}