{% extends 'base.html.twig' %}

{% set useAngular = true %}

{% block title %}
    Просмотр бизнес идеи
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-8">
            <h3>{{ project.title }}
                {{ project.status == constant('AppBundle\\Util\\Enum\\ProjectStatus::SUCCEED') ? label_success('Завершён!') : '' }}
                {{ project.status == constant('AppBundle\\Util\\Enum\\ProjectStatus::FAILED') ? label_danger('Провален!') : '' }}
                {{ project.status == constant('AppBundle\\Util\\Enum\\ProjectStatus::PENDING') ? label_info('На проверке!') : '' }}
            </h3>
            <img src="{{ asset(project.imageUrl) }}" style="margin-bottom: 20px" width="100%" height="100%"/>
            <h3>Описание:</h3>
            <p>{{ project.description }}</p>
        </div>
        <div class="col-md-4">
            <ul class="list-unstyled">
                <li>
                    <h4>
                        <img src="{{ asset(project.owner.avatarPath) }}" width="32" height="32" class="img-circle"> {{ project.owner }}
                        <br /> <small>автор</small>
                    </h4>
                </li>
                {% if app.security.granted('ROLE_ADMIN') and project.status == constant('AppBundle\\Util\\Enum\\ProjectStatus::PENDING') %}
                    <li>
                        <h2>
                            {{ project.budget }} $
                            <br /> <small>бюджет</small>
                        </h2>
                    </li>
                    <li>
                        <h2>
                            {{ project.projectTime }}
                            <br /> <small>дней</small>
                        </h2>
                    </li>
                    <li data-ng-init="declining = false">
                        <div data-ng-hide="declining">
                            <a href="{{ path('startupAccept', { 'id': project.id }) }}" class="btn btn-success">Принять</a>
                            <button data-ng-click="declining = true" class="btn btn-danger">Отклонить</button>
                        </div>
                        <div data-ng-show="declining">
                            {{ form(declineForm) }}
                        </div>
                    </li>
                {% else %}
                    <li>
                        <h2>
                            {{ project.investors|length }}
                            <br /> <small>инвесторов</small>
                        </h2>
                    </li>
                    <li>
                        <h2>
                            {{ project.totalFunds }}$
                            <br /> <small>собрано из {{ project.budget }}$</small>
                        </h2>
                    </li>
                    <li>
                        <h2>
                            {{ project.daysLeft }}
                            <br /> <small>дней осталось</small>
                        </h2>
                    </li>
                {% endif %}
            </ul>
            {% if project.status == constant('AppBundle\\Util\\Enum\\ProjectStatus::ACCEPTED') %}
                <div data-ng-init="opened = {{ hasErrors ? 1 : 0 }}">
                    <a data-ng-hide="opened" data-ng-click="opened = true" href="javascript:void(0)" class="btn btn-success btn-block">Инвестировать</a>
                    <div data-ng-show="opened">
                        {{ form(form) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
