/*   
 * Template Name: Fullscreen - One Page Template
 * Version: 2.2.0
 * Author: BootstrapWizard
 * Website: http://www.bootstrapwizard.info
*/


html, body{
  height:100%;
}

body {	
    font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
    color: #fff;
	font-size: 16px;
	line-height:1.8em;
	padding-top:90px;
}

p {
	color:#f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight:bold;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

a {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:active, a:visited {
	color:#fff;
}

.btn:focus {
	color:#fff;
}

.headline {
	margin-bottom:25px;
}

ul.unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
}

.fullSection {
	min-height:100%;
	padding:100px 0;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.img-full {
	width:100%;
}

.btn-custom {
	background:transparent;
	border: 2px solid #fff;
	color:#fff;
}

.btn-custom:hover {
	background: #fff !important;
	border: 2px solid #fff;
	color:#333;
}

.form-control {
	height: 46px;
	color:#fff;
	background-color: rgba(255,255,255,0.0);
	border: 1px solid rgba(255,255,255,0.5);
}

.form-control:focus {
	border-color:#fff;
	box-shadow:none;
}

.has-error .form-control, .has-error .form-control:focus {
	border-color: #fff;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
	color: red;
	font-weight:bold;
}

#bg_pattern { 
	background-image: url(../../../images/landing/bg_pattern.png);
	position: fixed; 
	opacity: 0.8; 
	left: 0px; 
	top: 0px; 
	width: 100%; 
	height: 100%; 
	z-index: -1;
}

.bg-static {
	background: url(../../images/landing/bg1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.paddt-60 {
	padding-top:60px;
}


/* ==================================================
	Animations Delay
====================================================*/

.showdelay1 {
  animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-delay: .1s;
  -o-animation-delay: .1s;
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
}
.showdelay2 {
  animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-delay: .2s;
  -o-animation-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -o-transition-delay: .2s;
}
.showdelay3 {
  animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-delay: .3s;
  -o-animation-delay: .3s;
  transition-delay: .3s;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
}
.showdelay4 {
  animation-delay: .4s;
  -moz-animation-delay: .4s;
  -webkit-animation-delay: .4s;
  -o-animation-delay: .4s;
  transition-delay: .4s;
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
}
.showdelay5 {
  animation-delay: .5s;
  -moz-animation-delay: .5s;
  -webkit-animation-delay: .5s;
  -o-animation-delay: .5s;
  transition-delay: .5s;
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -o-transition-delay: .5s;
}
.showdelay6 {
  animation-delay: .6s;
  -moz-animation-delay: .6s;
  -webkit-animation-delay: .6s;
  -o-animation-delay: .6s;
  transition-delay: .6s;
  -webkit-transition-delay: .6s;
  -moz-transition-delay: .6s;
  -o-transition-delay: .6s;
}
.showdelay7 {
  animation-delay: .7s;
  -moz-animation-delay: .7s;
  -webkit-animation-delay: .7s;
  -o-animation-delay: .7s;
  transition-delay: .7s;
  -webkit-transition-delay: .7s;
  -moz-transition-delay: .7s;
  -o-transition-delay: .7s;
}
.showdelay8 {
  animation-delay: .8s;
  -moz-animation-delay: .8s;
  -webkit-animation-delay: .8s;
  -o-animation-delay: .8s;
  transition-delay: .8s;
  -webkit-transition-delay: .8s;
  -moz-transition-delay: .8s;
  -o-transition-delay: .8s;
}
.showdelay9 {
  animation-delay: .9s;
  -moz-animation-delay: .9s;
  -webkit-animation-delay: .9s;
  -o-animation-delay: .9s;
  transition-delay: .9s;
  -webkit-transition-delay: .9s;
  -moz-transition-delay: .9s;
  -o-transition-delay: .9s;
}
.showdelay1s {
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
}
.showdelay2s {
  animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -o-animation-delay: 2s;
  transition-delay: 2s;
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
}


/* ==================================================
	navigation
====================================================*/

.navbar-custom{
	background-color:transparent;
	padding: 20px 0;
	border-radius: 0;
	margin: 0;
}

.navbar-custom .navbar-nav>li>a {
	color: #fff;
	font-size:16px;
}

.navbar-custom .nav>li>a:hover, .navbar-custom .nav>li>a:focus {
	background:transparent;
	color:#fff;
	font-weight:bold;
}

.navbar-custom  .navbar-nav>li.active a {
	color:#fff;	
	font-weight:bold;	
}

.navbar-custom .navbar-brand {
	padding:0;
}

.navbar-custom  .navbar-toggle .icon-bar {
	background:#fff;
	width:32px;
}

.top-nav-collapse {
	background-color:rgba(0,0,0,0.6);
	padding:5px 0;		
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;	
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background-color: transparent;
	border-color: transparent;
}


/* dropdown */

.dropdown-menu {
	background:rgba(0,0,0,0.6);
	border-radius: 0;
	margin-bottom: 15px;
}

.dropdown-menu>li>a {
	color:#fff;
	padding: 7px 20px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color: #fff;
	text-decoration: none;
	background-color: transparent;
	font-weight: bold;
}








@media (max-width: 767px) {
	
	#top-nav {
		background-color:rgba(0,0,0,0.6);
	}

	.navbar-custom .navbar-brand  {
		padding: 0 0 0 15px;
	}

}



/* ==================================================
	fullscreen slider
====================================================*/

#fullscreen-slider {

}

#fullscreen-slider .slider-caption {
	text-align:center;
	padding:60px 140px 140px;
}

#fullscreen-slider .slider-caption { 

}

#fullscreen-slider .slider-caption  i{ 
	font-size:130px;
}

#fullscreen-slider .slider-caption h2 {
	font-size:60px;
	margin-bottom:30px;
}

#fullscreen-slider .slider-caption p { 
	margin-bottom:30px;
}

.carousel-control.right, .carousel-control.left {
	background-image:none !important;
}

.carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right {
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	
	width: 30px;
	height: 30px;
	margin-top: -15px;
	font-size: 30px;
}

.carousel-inner>.item  {
	height:700px;
}



@media (max-width:767px) {
	
	#fullscreen-slider .slider-caption  i{ 
		font-size:80px;
	}
	
	#fullscreen-slider .slider-caption h2 {
		font-size:36px;
	}
	
	#fullscreen-slider .slider-caption {
		text-align:center;
		padding:0 40px 80px;
	}	
}


/* ==================================================
	quick form
====================================================*/

.quick-form {
	padding:20px;
	background-color: rgba(255,255,255,0.1);
	border: 4px solid #ddd;
	border-radius: 4px;
}



/* ==================================================
	top Heading
====================================================*/

.top-heading {
	text-align: center;
	padding: 0 150px;
}

.top-heading h2{
	font-size:46px;
	padding:0;
	letter-spacing: -1px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}



/* ==================================================
	Section Heading
====================================================*/

.section-heading {
	text-align:center;
}

.section-heading h2{
	font-size:46px;
	padding:40px 0;
	letter-spacing: -1px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}


@media (max-width:767px) { 

	.top-heading {
		padding: 0 20px;
	}	
	
	.top-heading h2, .section-heading h2{ 
		font-size:36px;
	}

}


/* ==================================================
	Icon-Box
====================================================*/

.icon-box {
	padding:40px 0;
}

.icon-box i{
	font-size:60px;
}

.icon-box h3{
	font-size:20px;
	margin-bottom: 20px;
}

.icon-box p{

}


/* ==================================================
	Featured
====================================================*/

.featured-list {

}

.featured-box {
	padding:20px 15px;
}

.featured-info p {
	margin-bottom:20px;
}


/* ==================================================
	Team
====================================================*/

#team {

}

.team-box {
	margin:40px 0;
}

.team-image {

}

.team-image img {
	width:128px;
	height:128px;
	float:left;
	border: 3px solid #fff;
}

.team-info {
	margin-left:160px;
}

.team-social {
	list-style:none;
	margin:0;
	padding:0;
}

.team-social li{
	display:inline-block;
	margin: 0 5px;
}

.team-social li a  {
	color: #fff;
font-size: 18px;
}





/* ==================================================
	Pricing
====================================================*/

#pricing {

}

.price-box {	
	border: 4px solid #fff;
	border-radius: 10px;
	padding:10px;
	margin:20px 0;
}

.price-title {
	font-size: 24px;
	font-weight: 600;
	line-height: 42px;
	padding: 20px 0;
}

.price-title span{
	display: block;
	font-size: 42px;
	font-weight:700;
}

.price-title span small {
	font-weight:300;
}

.price-action {
	padding: 20px 0;
}

.price-box ul.price-list {

}

.price-box ul.price-list li {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.price-box ul.price-list li:last-child { 
	border:none;
}


/* ==================================================
	Showcase
====================================================*/

.showcase {

}

.pic {
	position:relative;
	display: block;
	margin: 15px 0;
}
.pic img{

}
a .img_overlay {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	background-color: rgba(0, 0, 0, 0.6);
	background-image: url(../../images/landing/zoom.png);
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0;
	filter: alpha(opacity=0);
    z-index: 0;   
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;	
}

a:hover .img_overlay {
	opacity: 1;
	filter: alpha(opacity=100);
    z-index: 1;	
}
	


/* ==================================================
	Modal
====================================================*/



.modal-content {
	background-color:rgba(0,0,0,0.9);
}

.modal-header {
	border:none;
}

.modal-header .close {
	font-size:42px;
	color:#fff;
	opacity:1;
	font-weight:normal;
}

.modal-body {
	padding: 15px 30px;
}

.modal-body  h3{
	margin-bottom:20px;
}

.modal-body img {
	margin:10px 0;
}

.modal-body img.pull-left {
	margin: 10px 25px 10px 0;
	max-width:286px;
}

.modal-body img.pull-right {
	margin: 10px 0 10px 25px;
	max-width:286px;
}

.modal-body hr {
	margin-top: 30px;
	margin-bottom: 30px;
	border: 0;
	border-top: 1px solid rgba(255,255,255,0.1);
}


@media (max-width:480px) {
	.modal-body img.pull-left {
		margin: 10px 0;
		max-width: 100%;
	}

	.modal-body img.pull-right {
		margin: 10px 0;
		max-width: 100%;
	}
	
}



/* ==================================================
	Contact
====================================================*/


/* unstyled */

ul.unstyled {
	list-style:none;
	padding:0;
	margin:0;
}

ul.unstyled li{ 
	padding:5px 0;
}

ul.unstyled i{
	margin-right:20px;
}


/* Social Link */

ul.social-link {
	list-style:none;
	padding:0;
	margin:0;
}

ul.social-link li{
	display:inline-block;
	padding:10px 20px 10px 0;
}

ul.social-link li a{
	color:#fff;
	opacity:0.5;
}

ul.social-link li a:hover{
	opacity:1;
}

ul.social-link li a i{
	font-size:30px;
}


/* ==================================================
	Footer
====================================================*/


#footer {
	padding: 20px 0;
	background: rgba(0,0,0,0.3);
}



/* ==================================================
	UIToTop
====================================================*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom: 20px;
	right: 10px;
	overflow:hidden;
	width:35px;
	height:35px;
	border:none;
	text-indent:100%;
	background:url(../../images/landing/totop.png) no-repeat left top;
}

#toTop:after {
	 font-family:'FontAwesome';
    content:"\f105";
	color:#262626;
	margin-right:10px;		
}


#toTopHover {
	background:url(../../images/landing/totop.png) no-repeat left -35px;
	width:35px;
	height:35px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}


#toTop:active, #toTop:focus {
	outline:none;
}


@media (max-width: 767px) {

	#toTop {
		bottom:10px;
	}
}

/* ==================================================
	timer  countdown
====================================================*/

.timer {
    margin:50px 0;
	display:block;
	text-align:center;
}

.timer .days-wrapper, .timer .hours-wrapper, .timer .minutes-wrapper, .timer .seconds-wrapper {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 10px;
    border: 4px solid #fff;
    font-size: 13px;
	text-align: center;
	padding: 12px 0 0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.timer .days, .timer .hours, .timer .minutes, .timer .seconds {
    font-size: 80px;
    font-weight: 100;
    line-height: 90px;
}

.free {
    text-transform: uppercase;
}
.input-group {
    margin: 20px auto;
    width: 100%;
	background:transparent;
}
input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 60%;
    height: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-newsletter {
    width: 40%;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.promise {
    color: #fff;
}


/* ==================================================
	Page Loader
====================================================*/


#pageloader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #131313;
    z-index: 999999;
}
.loader-item {
    position: absolute;
    width: auto;
    height:height;
    margin: -25px 0 0 -25px;
    top:50%;
    left:50%;
    text-align:center;
}
.loader-item h2 {
    color:#ccc;
    margin:0 auto;
    font-size:20px;
}


.preloader {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	/* background-color is important, or it will be see-through, and we don't want that! */
	text-align: center;
	z-index: 9999999;
}
.preloader .loader-item {
	margin: 100px auto 0;
	width: 70px;
	height: 70px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}




/* ==================================================
	Components
====================================================*/

/*  blockquote */

blockquote {
	border-left: 3px solid #fff;
}

blockquote footer {
	font-weight:bold;
	color:#fff;
}

.blockquote-reverse, blockquote.pull-right {
	border-right: 3px solid #fff;
}


/*  custom list  */

.arrow {
	margin:0;
	padding:0;
	list-style:none;
}
.arrow li {
    list-style:none;
	margin: 5px 0;
}
.arrow li:before {
    font-family:'FontAwesome';
    content:"\f105";
	color:#fff;
	margin-right:10px;	
}
.long-arrow {
	margin:0;
	padding:0;
	list-style:none;
}
.long-arrow li {
    list-style:none;
	margin: 5px 0;
}
.long-arrow li:before {
    font-family:'FontAwesome';
    content:"\f178";
	color:#fff;
	margin-right:10px;	
}
.angle {
	margin:0;
	padding:0;
	list-style:none;
}
.angle li {
    list-style:none;
	margin: 5px 0;
}
.angle li:before {
    font-family:'FontAwesome';
    content:"\f101";
	color:#fff;
	margin-right:10px;	
}


/*  Accordion */

.panel-group .panel {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background:transparent;
	border: 2px solid #fff;
}
.panel-group .panel-heading {
	position: relative;
	padding: 0;
	border-radius:0;
	color: #fff;
	background: rgba(255,255,255,0.1);
	border-color: #e6e6e6;
}
.panel-group .panel-heading > a {
	position: relative;
	display: block;
	padding: 10px 15px;
	color: inherit;
	text-decoration: none;
}
.panel-group .panel-heading > a:after {
	position: absolute;
	right: 10px;
	top: 15px;
	height: 20px;
	width: 20px;
	content: "\f068";
	text-align: center;
	line-height: 20px;
	font-family: FontAwesome;
	color: white;
	font-size:18px;
}
.panel-group .panel-heading > .collapsed:after {
	font-family: 'fontawesome';	
	content: "\f067" !important;
}



/* Tabs */

.nav-tabs {
	border-bottom: 2px solid #fff;
	margin-bottom: 15px;
}
.nav-tabs > li {
	margin-bottom: 0;
}
.nav-tabs > li > a {
	border: 1px solid transparent;
	border-bottom: 0;
    color:#fff;
}
.nav-tabs > li > a:hover {
	border-color: #e6e6e6;
	background: #fafafa;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color:#333;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	background: rgba(255,255,255,0.1);
	color: white;
	border: 2px solid #fff;
	border-bottom: 0;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

/*** Tabs Justified ***/
.nav-tabs.nav-justified {
	border-bottom: 0;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
	background: #2babcf;
	background-image: -webkit-linear-gradient(top, #3db5d7 0%, #2babcf 100%);
	background-image: -moz-linear-gradient(top, #3db5d7 0%, #2babcf 100%);
	background-image: -o-linear-gradient(top, #3db5d7 0%, #2babcf 100%);
	background-image: linear-gradient(top, #3db5d7 0%, #2babcf 100%);
	color: white;
	border: 0;
}

@media (min-width: 768px) {
	.nav-tabs.nav-justified {
		border-bottom: 3px solid #2babcf;
	}
	.nav-tabs.nav-justified > li > a {
		border-bottom: 0;
	}
}


/* count  */

.count-box {
	text-align:center;
	margin:40px 0;
}

.count-box i{
	font-size:42px;
	color:#fff;
}

.count-box h4{
	margin:25px 0;
}

.count-box span.count{
	font-size:42px;
	color:#fff;
}




/* ==================================================
	Sidebar
====================================================*/

body.nopadd {
	padding-top:0!important;
}

#main-menu {
	background: rgba(0,0,0,0.5);
	width: 200px;
	height: 100%;	
	position:fixed;
	top:0;
}

#main-menu .navbar-custom .navbar-nav>li {
	float:none;
}

#main-menu .navbar-header {
	padding:20px;
}

#main-menu .dropdown-menu {
	position:static;
}


#main-content {
	margin-left:200px;
}

@media (max-width: 768px ) {
	#main-menu {
		height: auto;
		position: fixed;
		width: 100%;	
		z-index: 999;
	}
	
	#main-content {
		margin:0;
	}
	
	#main-menu .navbar-header {
		padding:0;
	}
}






