{% extends 'base.html.twig' %}

{% block title %}
Видео
{% endblock %}

{% block body %}
    <div>
        <div id="header-image">
            <video id="video" data-links="{{ videoLinks|json_encode }}" class="video-js vjs-default-skin vjs-big-play-centered"
                   controls preload="auto" width="100%" height="100%"
                   poster="{{ asset('images/kino.jpg') }}">
                {% for videoLink in videoLinks %}
                    <source data-res="{{ qualities[loop.index0]|slice(1) }}" src="{{ videoLink }}" />
                {% endfor %}
                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
            </video>
        </div>

        <div class="modal fade banner-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div id="banner_context"></div>
                    <button id="bannerButton" class="btn btn-success" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite'
        'bundles/app/components/video.js/dist/video-js/video-js.min.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='video.js'
        'bundles/app/components/video.js/dist/video-js/video.js'
        'bundles/app/components/video.js/dist/video-js/lang/ru.js'
        'js/qualityChanger.videojs.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script src="{{ asset('js/video.js') }}"></script>
{% endblock %}