{% extends 'base.html.twig' %}

{% block content %}
    <h3>Доступные предложения на бирже:</h3>
    <label for="search_group">Поиск по типу резиденции:</label>
    <div class="btn-group" id="search_group">
        <a href="?type=0&sort=d.price&direction=asc" class="btn btn-default {{ app.request.get('type') == 0 ? 'active' : '' }}">Все резиденции</a>
        {% for type in houseTypes %}
            {% set active = (app.request.get('type') == type.id) ? 'active' : '' %}
            <a href="{{ path('listDeals', {'type': type.id, 'sort': 'd.price', 'direction': 'asc'}) }}" class="btn btn-default {{ active }}">{{ type.title }}</a>
        {% endfor %}
    </div>
    <h4><small>Если вы хотите найти определенный тип резиденции в списке доступных предложений, воспользуйтесь кнопками выше.</small></h4>
    {% if deals|length %}
        <table class="table table-bordered vcenter-table">
            <thead>
                <th>Резиденции</th>
                <th>Цена, $</th>
                <th>Действия</th>
            </thead>
            <tbody>
                {% for deal in deals %}
                    <tr>
                        <td>
                            {{ deal.houses|houseTypes }}
                        </td>
                        <td>
                            {{ deal.price }}
                        </td>
                        <td>
                            {% if deal.seller != app.user %}
                                <a href="{{ path('buyDeal', { 'id': deal.id }) }}" class="btn btn-success">Купить</a>
                            {% else %}
                                Это ваше предложение. <a href="{{ path('removeDeal', { 'id': deal.id }) }}" class="btn btn-danger">Удалить</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">{{ knp_pagination_render(deals) }}</div>
    {% else %}
        <p>На бирже пока нет предложений такого типа.</p>
    {% endif %}
{% endblock %}

