{% extends 'base.html.twig' %}

{% block content %}
   <h3>Ваши предложения на бирже:</h3>
   {% if userDeals|length %}
      <table class="table table-bordered vcenter-table">
         <thead>
            <th>Резиденции</th>
            <th>Цена, $</th>
            <th>Действия</th>
         </thead>
         <tbody>
            {% for deal in userDeals %}
               <tr>
                  <td>{{ deal.houses|houseTypes }}</td>
                  <td>{{ deal.price }}</td>
                  <td><a href="{{ path('removeDeal', { 'id': deal.id }) }}" class="btn btn-danger">Удалить предложение</a></td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <div class="text-center">{{ knp_pagination_render(userDeals) }}</div>
   {% else %}
      <p>У вас нет предложений. Возможно вы хотите <a href="{{ url('sellHouses') }}">продать</a> свои резиденции?</p>
   {% endif %}
{% endblock %}