{% extends 'base.html.twig' %}

{% block content %}
   <h3>Выставить резиденции на продажу:</h3>
   <p>Вы имеете в наличии:</p>
   <ul>
      {% for type in typedHouses %}
         <li><strong>{{ type[1].title }}</strong> {{ type[0] }} шт. </li>
      {% endfor %}
   </ul>
   {{ form(form) }}
{% endblock %}